doctype html
html
  head
    meta(charset='UTF-8')
    title #{namedata.fullName} — Ведущий корпоративных мероприятий
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    script(data-turbolinks-track='false', src='/javascripts/application-79c480bc6b7214dbdc73ef400a1d885a.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,300italic,300,900&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin,cyrillic')
    link(rel='stylesheet', href='/assets/reset.css/reset.css')
    link(href='/assets/fotorama/fotorama.css', rel='stylesheet', media='all')
    link(href='/stylesheets/pages.css', rel='stylesheet', media='all')
    meta(content='authenticity_token', name='csrf-param')
    meta(content='N3xhSnDdeSDrr5OLCJ6cnGmXdkt30I5I++9wR/4IqBA=', name='csrf-token')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='format-detection', content='telephone=no')
  body
    .preloader
      .ring
    aside.hidden.hide-logo
      .blood-back
      a.logo
        img.ipad(src='https://pp.vk.me/c637219/v637219329/53b6/2IiBodF4d10.jpg')
        img.laptop(src='https://pp.vk.me/c637219/v637219329/53b6/2IiBodF4d10.jpg')
        .name Сергей
        .surname
          span Абрамов
          | Абрамов
      nav
        a.active(href='/wedding#about') Главная
        a.video(href='/wedding#video') Видео
        a(href='/wedding#photo') Обо мне
        a(href='/wedding#weddings') Свадьбы
        a(href='/wedding#reviews') Отзывы
        a(href='/wedding#calendar') Календарь
        a(href='/wedding#contacts') Контакты
      .line
    section.start
      .hint
        svg#arrow(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 612 792', enable-background='new 0 0 612 792', xml:space='preserve')
          path.arrow(fill='#FDFBE3', d='M556.5,399.2c0,0,14.7-24.2,16.8-27.1c1.8-2.4,1-4.5,1-4.5s-0.7-2.1-3.6-3c-3.5-1.1-29.9-11.3-29.9-11.3\
          s-6.1-2.3-8.5,3.3c-1.3,3.1-0.8,5.4,2.2,7.7s16,11.3,16,11.3s-4.8,15.1-5.8,18.8s0.1,5.8,2.9,7.4\
          C553.1,404.7,556.5,399.2,556.5,399.2z')
          circle.circle1(fill='#FDFBE3', cx='44.7', cy='397.8', r='4.9')
          circle.circle2(fill='#FDFBE3', cx='105.9', cy='411.3', r='6.1')
          circle.circle3(fill='#FDFBE3', cx='172.1', cy='419.9', r='8')
          circle.circle4(fill='#FDFBE3', cx='239.8', cy='422.9', r='9.2')
          circle.circle5(fill='#FDFBE3', cx='310.6', cy='419.9', r='11')
          circle.circle6(fill='#FDFBE3', cx='385.1', cy='412.5', r='12.2')
          circle.circle7(fill='#FDFBE3', cx='460.9', cy='400.9', r='15.3')
        svg#hand(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='246 -246.9 592.9 592.9', enable-background='new 246 -246.9 592.9 592.9', xml:space='preserve')
          g
            path.circle(fill='#FB5B40', d='M582.3-129.7c0-53.3-42.6-95.9-95.9-95.9s-95.9,42.6-95.9,95.9c0,23.4,8.5,44.8,21.3,59.7v-59.7\
            c0-40.5,34.1-74.6,74.6-74.6s74.6,34.1,74.6,74.6V-70C573.7-84.9,582.3-106.3,582.3-129.7z')
            path(fill='#FEFFE2', d='M715.7,20.9c-11.5,0-21,3.8-28.7,9.6l0,0c0-26.8-21-47.8-47.8-47.8c-11.5,0-23,3.8-32.5,11.5\
            c-7.6-19.1-24.9-30.6-44-30.6c-11.5,0-21,3.8-28.7,9.6v-95.6c0-26.8-21-47.8-47.8-47.8c-26.8,0-47.8,21-47.8,47.8V47.7\
            c-38.3-34.4-80.3-61.2-107.1-34.4C293,51.5,373.4,126.1,434.6,238.9C478.6,317.3,539.8,346,601,346c89.9,0,162.6-72.7,162.6-162.6\
            V68.7C763.5,41.9,742.5,20.9,715.7,20.9z M744.4,110.8v72.7c0,74.6-65,143.4-143.4,143.4c-72.7,0-114.8-40.2-149.2-95.6\
            C377.2,105,323.6,47.7,344.7,26.6c21-21,72.7,24.9,112.8,66.9v-216.1c0-15.3,13.4-28.7,28.7-28.7s28.7,13.4,28.7,28.7V78.2H534\
            V11.3c0-15.3,13.4-28.7,28.7-28.7c15.3,0,28.7,13.4,28.7,28.7v47.8h19.1V30.4c0-15.3,13.4-28.7,28.7-28.7\
            c15.3,0,28.7,13.4,28.7,28.7v47.8H687v-9.6c0-15.3,13.4-28.7,28.7-28.7c15.3,0,28.7,13.4,28.7,28.7L744.4,110.8L744.4,110.8z')
        a#start-now Сделать это!
      video#video-start.scaled(width='100%', height='auto', preload='auto', poster='/images/1+2.jpg')
        source(src='/videos/1+2.mp4', type='video/mp4')
        source(src='/videos/1+2.webm', type='video/webm')
        p Видео не поддерживается в вашем браузере.
      #slider
      svg#hint-ring-line(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 440 70', enable-background='new 0 0 440 70', xml:space='preserve')
        g
          circle(fill='#FDFAE3', cx='25', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='55', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='85', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='115', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='145', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='175', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='205', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='235', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='265', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='295', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='325', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='355', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='385', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='415', cy='35', r='3.1')
      #flying-text
      .frames
        img(src='/images/img/frames/frame1.jpg')
        img(src='/images/img/frames/frame2.jpg')
        img(src='/images/img/frames/frame3.jpg')
        img(src='/images/img/frames/frame4.jpg')
        img(src='/images/img/frames/frame5.jpg')
        img(src='/images/img/frames/frame6.jpg')
        img(src='/images/img/frames/frame7.jpg')
        img(src='/images/img/frames/frame8.jpg')
        img(src='/images/img/frames/frame9.jpg')
        img(src='/images/img/frames/frame10.jpg')
        img(src='/images/img/frames/frame11.jpg')
        img(src='/images/img/frames/frame12.jpg')
        img(src='/images/img/frames/frame13.jpg')
        img(src='/images/img/frames/frame14.jpg')
        img(src='/images/img/frames/frame15.jpg')
        img(src='/images/img/frames/frame16.jpg')
        img(src='/images/img/frames/frame17.jpg')
        img(src='/images/img/frames/frame18.jpg')
        img(src='/images/img/frames/frame19.jpg')
        img(src='/images/img/frames/frame20.jpg')
        img(src='/images/img/frames/frame21.jpg')
        img(src='/images/img/frames/frame22.jpg')
        img(src='/images/img/frames/frame23.jpg')
        img(src='/images/img/frames/frame24.jpg')
        img(src='/images/img/frames/frame25.jpg')
      video#video-finish(style='display:none;', width='100%', height='auto', preload='auto', poster='/images/3+4.jpg')
        source(src='/videos/3+4.mp4', type='video/mp4')
        source(src='/videos/3+4.webm', type='video/webm')
        p Видео не поддерживается в вашем браузере.
    section.first
      .overlay
      .now-me
      #logo
        img(src='https://pp.vk.me/c637219/v637219329/53b6/2IiBodF4d10.jpg')
      h1 Сергей Абрамов
      p.relevant Ваша свадьба с первого дубля
      a.down(href='/wedding#video')
        img(src='/images/img/down-circle.svg')
    section.video
      video#video(style='width:100%; height:auto;', preload='none', poster='https://pp.vk.me/c628526/v628526568/306e6/LqE_2JRZWTU.jpg')
        source#mp4(src='/videos/АБРАМОВ СЕРГЕЙ. Ведущий, вокалист, шоумен. 8 920 033 67 97.webm', type='video/webm')
        p Видео не поддерживается в вашем браузере.
      a.play
        img(src='/images/img/play.svg')
        .line1 Посмотрите,
        .line2 и все увидите сами.
      .get-video
        form#new_video_request.new_video_request(accept-charset='UTF-8', action='http://www.kozlovdenis.ru/video_requests', data-remote='true', method='post')
          div(style='display:none')
            input(name='utf8', type='hidden', value='✓')
          input#video_request_mail(name='video_request[mail]', placeholder='Ваш e-mail', required='required', type='email')
          input(name='commit', type='submit', value='Ок')
      a.close
        img(src='/images/close.svg')
        div Закрыть
      a.button(href='/wedding#photo')
        | Об опыте 
        img(src='/images/button-arrow.svg')
    section.photo
      .column-1
        .quote
          video#quote-video(style='width:100%; height:100%;')
            source#mp4(src='bg_lines.mp4', type='video/mp4')
            p Видео не поддерживается в вашем браузере.
          .line-1
          .line-2
          img.digit(src='/images/digit-one.svg')
          .mask
            .text
              | У вас есть
              br
              span только одна попытка
              br
              | сделать вашу свадьбу
              br
              | незабываемой.
        .about
          p
            | Любой  
            span текст
      .column-2
        #about-me-photos.fotorama(data-glimpse='0', data-height='100%', data-width='100%', data-maxwidth='100%', data-fit='cover', data-loop='true', data-autoplay='true', data-nav='false')
          each photo in wedding.aboutMePhotos
            img(src=photo)
        .grad
        .description
          .text
            | Я знаю, как сделать ваш дубль идеальным.
          a.button(href='/wedding#weddings')
            | Теперь про свадьбы 
            img(src='/images/button-arrow.svg')
    section.weddings
      .back(style="background:url('album/1/6.jpg') no-repeat center center; background-size:cover;")
      each slide in wedding.eventsItems
        if slide.active 
          .active-wedding 
            .title= slide.eventName
            a.get-photos(rel=slide.linkToOtherImgs)
              img(src='/images/photo.svg')
              span Фотоотчет
            .date= slide.date
            .desc= slide.description
            .people
              img(src='/images/people.svg')
              span #{slide.people} гостей
            .place 
              img(src='/images/map.svg')
              span= slide.place
            a.button(href='/wedding#reviews')
              | Более 150 отзывов
              img(src='/images/button-arrow.svg')
        .weddings
          each slide in wedding.eventsItems
              .slide
                img(alt=slide.id src=slide.titleImg)
                .info
                  .title= slide.eventName
                  .desc= slide.description
                  .date= slide.date
                  .place= slide.place
                  .people= slide.people
                  .id= slide.id
      //- .active-wedding
      //-   .title ДВА СЕРДЦА
      //-   a.get-photos(rel='1')
      //-     img(src='/images/photo.svg')
      //-     span Фотоотчет
      //-   .date 08 июля 2016
      //-   .desc Ваш комментарий
      //-   .people
      //-     img(src='/images/people.svg')
      //-     span 50 гостей
      //-   .place
      //-     img(src='/images/map.svg')
      //-     span Ресторан «Петровский»
      //-   a.button(href='/wedding#reviews')
      //-     | Более 150 отзывов 
      //-     img(src='/images/button-arrow.svg')
      //- .weddings
      //-   .slide
      //-     img(alt='Img 5927', src='album/1/6.jpg')
      //-     .info
      //-       .title ДВА СЕРДЦА
      //-       .desc Ваш комментарий
      //-       .date 08 июля 2016
      //-       .place Ресторан «Петровский»
      //-       .people 50
      //-       .id 1
      //-   .slide
      //-     img(alt='18 06 2016 0272 web', src='album/2/8.jpg')
      //-     .info
      //-       .title Свадьба в лагуне
      //-       .desc
      //-       .date 18 июня 2016
      //-       .place ГК Русская Охота
      //-       .people 45
      //-       .id 2
      //-   .slide
      //-     img(alt='1 024', src='album/3/2.jpg')
      //-     .info
      //-       .title Свадьба "Ретро"
      //-       .desc
      //-       .date 25 июня 2016
      //-       .place ГК Русская Охота
      //-       .people 30
      //-       .id 3
      //-   .slide
      //-     img(alt='Dsc 4223', src='album/4/1.jpg')
      //-     .info
      //-       .title "Гангстерский" корпоратив
      //-       .desc Ваш комментарий
      //-       .date 06 октября 2014
      //-       .place Турбаза «Верхний бор»
      //-       .people 45
      //-       .id 4
      //-   .slide
      //-     img(alt=' 1', src='album/5/1.jpg')
      //-     .info
      //-       .title ГОЛД ФИТНЕС
      //-       .desc Ваш комментарий
      //-       .date 11 октября 2014
      //-       .place Ресторан «Prohlada»
      //-       .people 60
      //-       .id 5
      a.more Еще фото...
    #show-album.hidden
      .handle
    #show-album-grad.hidden
      a.next
    #show-album-grad-prev.hidden
      a.prev
    a.close-album.hidden
      img(src='/images/close.svg')
      div Закрыть
    section.reviews
      .grad-left
      #photo-reviews.mask.dragdealer
        // МЕНЯТЬ ШИРИНУ ТУТ, ЕСЛИ НАДО СМЕНИТЬ КОЛ-ВО ФОТОК/ЛЕТ
        .handle(style='width:238vw')
          .column
            .year-label.before
              | 2014
              .line
              .year-label.after
                | 2013
            a.review.ind0.empty(style='background:url(images/medium/missing.png) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind1.empty(style='background:url(images/medium/missing.png) no-repeat center 30%; background-size:cover;')
              .overlay
            // WORKED
            a.review.ind2(href='./reviews/1/index.js', data-method='get', data-remote='true', style='background:url(reviews/1/1.jpg) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            a.review.ind3(href='http://www.kozlovdenis.ru/review/36', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/36/medium/26_P0P%BFQ) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind4(href='http://www.kozlovdenis.ru/review/40', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/40/medium/30_P0P%BFQ) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind5(href='http://www.kozlovdenis.ru/review/51', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/51/medium/17_P%3CP0Q%0F._P%10Q) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            // WORKED
            a.review.ind6(href='./reviews/2/index.js', data-method='get', data-remote='true', style='background:url(reviews/2/2.jpg) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind7(href='http://www.kozlovdenis.ru/review/52', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/52/medium/6_P8Q%0EP=Q%0F._P%12P5Q) no-repeat center 30%; background-size:cover;')
              .overlay
            // WORKED
            a.review.ind8(href='./reviews/3/index.js', data-method='get', data-remote='true', style='background:url(reviews/3/3.jpg) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            a.review.ind9(href='http://www.kozlovdenis.ru/review/53', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/53/medium/13_P8Q%0EP=Q%0F._P%1CP0Q%08P0_P8_P%10P=P4Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind10(href='http://www.kozlovdenis.ru/review/54', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/54/medium/14_P8Q%0EP=Q%0F._P%18P;Q%0CQ%0F_P8_P%1BP8P7P0..jpg?1460800021) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind11(href='http://www.kozlovdenis.ru/review/35', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/35/medium/20_P8Q%0EP=Q%0F._P!P5Q) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            // WORKED
            a.review.ind12(href='./reviews/4/index.js', data-method='get', data-remote='true', style='background:url(reviews/4/4.jpg) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind13(href='http://www.kozlovdenis.ru/review/38', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/38/medium/19_P8Q%0EP;Q%0F._P%18Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind14(href='http://www.kozlovdenis.ru/review/56', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/56/medium/25_P8Q%0EP;Q%0F._P%15P:P0Q%02P5Q) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            // WORKED
            a.review.ind15(href='./reviews/5/index.js', data-method='get', data-remote='true', style='background:url(reviews/5/5.jpg) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind16(href='http://www.kozlovdenis.ru/review/58', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/58/medium/1_P0P2P3Q%03Q%01Q%02P0._P!P5Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind17(href='http://www.kozlovdenis.ru/review/34', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/34/medium/2_P0P2P3Q%03Q%01Q%02P0._P%1CP0Q) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            a.review.ind18(href='http://www.kozlovdenis.ru/review/59', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/59/medium/8_P0P2P3Q%03Q%01Q%02P0._P%10P;P5P:Q%01P5P9_P8_P%10P;P5P:Q%01P0P=P4Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind19(href='http://www.kozlovdenis.ru/review/60', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/60/medium/9_P0P2P3Q%03Q%01Q%02P0._P%1CP8Q%05P0P8P;_P8_P%14P8P0P=P0..jpg?1460801292) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind20(href='http://www.kozlovdenis.ru/review/61', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/61/medium/15_P0P2P3Q%03Q%01Q%02P0._P%12P;P0P4P8Q%01P;P0P2P0_P8_P%1DP8P:P%3EP;P0P9..jpg?1460801442) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            // WORKED
            a.review.ind21(href='./reviews/6/index.js', data-method='get', data-remote='true', style='background:url(reviews/6/6.jpg) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind22(href='http://www.kozlovdenis.ru/review/33', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/33/medium/22_P0P2P3Q%03Q%01Q%02P0._P%12P0P;P5Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind23(href='http://www.kozlovdenis.ru/review/63', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/63/medium/23_P0P2P3Q%03Q%01Q%02P0._P%12P0P;P5P=Q%02P8P=P0_P8_P%10P;P5P:Q%01P5P9..jpg?1460801685) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            a.review.ind24(href='http://www.kozlovdenis.ru/review/64', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/64/medium/29_P0P2P3Q%03Q%01Q%02P0._P%15P;P5P=P0_P8_P%14P%3CP8Q%02Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind25(href='http://www.kozlovdenis.ru/review/65', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/65/medium/30_P0P2P3Q%03Q%01Q%02P0._P%10P;P8P=P0_P8_P!P5Q) no-repeat center 30%; background-size:cover;')
              .overlay
            // WORKED
            a.review.ind26(href='./reviews/7/index.js', data-method='get', data-remote='true', style='background:url(reviews/7/7.jpg) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            a.review.ind27(href='http://www.kozlovdenis.ru/review/28', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/28/medium/6_Q%01P5P=Q%02Q%0FP1Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind28(href='http://www.kozlovdenis.ru/review/25', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/25/medium/13_Q%01P5P=Q%02Q%0FP1Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind29(href='http://www.kozlovdenis.ru/review/66', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/66/medium/18_Q%01P5P=Q%02Q%0FP1Q) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            a.review.ind30(href='http://www.kozlovdenis.ru/review/29', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/29/medium/19_Q%01P5P=Q%02Q%0FP1Q) no-repeat center 30%; background-size:cover;')
              .overlay
            // WORKED
            a.review.ind31(href='./reviews/8/index.js', data-method='get', data-remote='true', style='background:url(reviews/8/8.jpg) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind32(href='http://www.kozlovdenis.ru/review/67', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/67/medium/26_Q%01P5P=Q%02Q%0FP1Q) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            a.review.ind42(href='http://www.kozlovdenis.ru/review/27', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/27/medium/6_P4P5P:P0P1Q) no-repeat center 30%; background-size:cover;')
              .overlay
            .year-label.before
              | 2015
              .line
              .year-label.after
                | 2014
            a.review.ind43(href='http://www.kozlovdenis.ru/review/74', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/74/medium/10_Q%0FP=P2P0Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind44(href='http://www.kozlovdenis.ru/review/75', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/75/medium/24_Q%0FP=P2P0Q) no-repeat center 30%; background-size:cover;')
              .overlay
          .column
            .year-label.before
              | 2016
              .line
              .year-label.after
                | 2015
            a.review.ind99(href='http://www.kozlovdenis.ru/review/121', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/121/medium/7_P%3CP0Q%0F._P%11Q%03P;P0Q%02_P8_P%1CP0Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind100(href='http://www.kozlovdenis.ru/review/122', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/122/medium/8_P%3CP0Q%0F._P%14P%3CP8Q%02Q) no-repeat center 30%; background-size:cover;')
              .overlay
            a.review.ind101(href='http://www.kozlovdenis.ru/review/123', data-method='get', data-remote='true', style='background:url(http://www.kozlovdenis.ru/reviews/123/medium/14_P%3CP0Q%0F._P%10Q) no-repeat center 30%; background-size:cover;')
              .overlay
      .about
        p.text
          | Любой отзыв на этой странице искренний. Вы можете сами в этом убедиться, написав молодым ВКонтакте.
        a.button(href='/wedding#calendar')
          | Свободные даты 
          img(src='button-arrow.svg')
      #text-reviews.text-reviews.dragdealer
        .text-handle.handle(style='width: 400%')
          .review(style='width: 25.0%')
            .head
              .author
                img(alt='Cddssuuvjww', src='http://cs623429.vk.me/v623429218/3e18f/cDdssUUVJWw.jpg')
                a(href='https://vk.com/prazdniknnpro', rel='nofollow', target='_blank') Алина
              .wedding
                img(src='reviews/rings.svg')
                span Свадьба Алина & Антон
            // <a href="/review/118" data-method="get" data-remote="true" href="/pages/calendar?month=2016-03-01" rel="nofollow"><img src="/calendar/right.svg"></a>
            a.text(href='http://www.kozlovdenis.ru/review/118', data-method='get', data-remote='true')
              | вправо следующий отзыв
          .review(style='width: 25.0%')
            .head
              .author
                img(alt='C1ktzvwotlq', src='http://cs637827.vk.me/v637827407/15963/c1KTZVWOtLQ.jpg')
                a(href='https://vk.com/prazdniknnpro', rel='nofollow', target='_blank') Алиса
              .wedding
                img(src='reviews/rings.svg')
                span Свадьба Алиса & Сергей
            // <a href="/review/119" data-method="get" data-remote="true" href="/pages/calendar?month=2016-03-01" rel="nofollow"><img src="/calendar/right.svg"></a>
            a.text(href='http://www.kozlovdenis.ru/review/119', data-method='get', data-remote='true')
              | вправо следующий отзыв
          .review(style='width: 25.0%')
            .head
              .author
                img(alt='Bnxxftsvy6k', src='http://cs622126.vk.me/v622126312/4e2c7/bnXXftSvY6k.jpg')
                a(href='https://vk.com/prazdniknnpro', rel='nofollow', target='_blank') Иван
              .wedding
                img(src='reviews/rings.svg')
                span Свадьба Иван & Дарья
            // <a href="/review/120" data-method="get" data-remote="true" href="/pages/calendar?month=2016-03-01" rel="nofollow"><img src="/calendar/right.svg"></a>
            a.text(href='http://www.kozlovdenis.ru/review/120', data-method='get', data-remote='true')
              | вправо следующий отзыв
          .review(style='width: 25.0%')
            .head
              p.more И более 100 отзывов в моей группе ВК
            a.show(href='https://vk.com/prazdniknnpro', target='_blank') Смотреть
        .dots
          .dot.active
          .dot
          .dot
          .dot
      a.add(href='https://vk.com/prazdniknnpro', target='_blank', rel='nofollow')
        p
          | Оставить отзыв ВК
          span онтакте
    #show-review.hidden
      .handle
    a.close-review.hidden
      img(src='close.svg')
    section.calendar
      .column-1
        #calendar.animated
          .month
            a(data-method='post', data-remote='true', href='http://www.kozlovdenis.ru/pages/calendar?month=2016-09-01', rel='nofollow')
              img(src='calendar/left.svg')
            span октябрь/2016
            a(data-method='post', data-remote='true', href='http://www.kozlovdenis.ru/pages/calendar?month=2016-11-01', rel='nofollow')
              img(src='calendar/right.svg')
          table
            tbody
              tr
                td.notmonth
                  a.reserved
                    | 26
                  .event
                    .date
                      | 26 октября 2016
                    .name
                      | Рабочие встречи в Москве
                    .type
                      | Встречи
                td.notmonth
                  a.
                    | 27
                  .event
                    .date
                      | 27 октября 2016
                td.notmonth
                  a.
                    | 28
                  .event
                    .date
                      | 28 октября 2016
                td.notmonth
                  a.reserved
                    | 29
                  .event
                    .date
                      | 29 октября 2016
                    .name
                      | Конференция врачей
                    .type
                      | Конференция
                td.notmonth
                  a.
                    | 30
                  .event
                    .date
                      | 30 октября 2016
                td.weekend
                  a.reserved
                    | 1
                  .event
                    .date
                      | 1 октября 2016
                    .name
                      | Ашот и Елена
                    .type
                      | Свадьба
                td.weekend
                  a.
                    | 2
                  .event
                    .date
                      | 2 октября 2016
              tr
                td
                  a.
                    | 3
                  .event
                    .date
                      | 3 октября 2016
                td
                  a.
                    | 4
                  .event
                    .date
                      | 4 октября 2016
                td
                  a.
                    | 5
                  .event
                    .date
                      | 5 октября 2016
                td
                  a.
                    | 6
                  .event
                    .date
                      | 6 октября 2016
                td
                  a.
                    | 7
                  .event
                    .date
                      | 7 октября 2016
                td.weekend
                  a.
                    | 8
                  .event
                    .date
                      | 8 октября 2016
                td.weekend
                  a.
                    | 9
                  .event
                    .date
                      | 9 октября 2016
              tr
                td.today
                  a.
                    | 10
                  .event
                    .date
                      | 10 октября 2016
                td.future
                  a.after
                    | 11
                  .event
                    .date
                      | 11 октября 2016
                td.future
                  a.after
                    | 12
                  .event
                    .date
                      | 12 октября 2016
                td.future
                  a.after
                    | 13
                  .event
                    .date
                      | 13 октября 2016
                td.future
                  a.after
                    | 14
                  .event
                    .date
                      | 14 октября 2016
                td.weekend.future
                  a.after
                    | 15
                  .event
                    .date
                      | 15 октября 2016
                td.weekend.future
                  a.after
                    | 16
                  .event
                    .date
                      | 16 октября 2016
              tr
                td.future
                  a.after
                    | 17
                  .event
                    .date
                      | 17 октября 2016
                td.future
                  a.after
                    | 18
                  .event
                    .date
                      | 18 октября 2016
                td.future
                  a.after
                    | 19
                  .event
                    .date
                      | 19 октября 2016
                td.future
                  a.after
                    | 20
                  .event
                    .date
                      | 20 октября 2016
                td.future
                  a.reserved.after
                    | 21
                  .event
                    .date
                      | 21 октября 2016
                    .name
                      | Юбилей 50 лет
                    .type
                      | Юбилей
                td.weekend.future
                  a.after
                    | 22
                  .event
                    .date
                      | 22 октября 2016
                td.weekend.future
                  a.after
                    | 23
                  .event
                    .date
                      | 23 октября 2016
              tr
                td.future
                  a.after
                    | 24
                  .event
                    .date
                      | 24 октября 2016
                td.future
                  a.after
                    | 25
                  .event
                    .date
                      | 25 октября 2016
                td.future
                  a.after
                    | 26
                  .event
                    .date
                      | 26 октября 2016
                td.future
                  a.after
                    | 27
                  .event
                    .date
                      | 27 октября 2016
                td.future
                  a.after
                    | 28
                  .event
                    .date
                      | 28 октября 2016
                td.weekend.future
                  a.after
                    | 29
                  .event
                    .date
                      | 29 октября 2016
                td.weekend.future
                  a.after
                    | 30
                  .event
                    .date
                      | 30 октября 2016
              tr
                td.future
                  a.after
                    | 31
                  .event
                    .date
                      | 31 октября 2016
                td.notmonth.future
                  a.after
                    | 1
                  .event
                    .date
                      | 1 октября 2016
                td.notmonth.future
                  a.after
                    | 2
                  .event
                    .date
                      | 2 октября 2016
                td.notmonth.future
                  a.after
                    | 3
                  .event
                    .date
                      | 3 октября 2016
                td.notmonth.future
                  a.after
                    | 4
                  .event
                    .date
                      | 4 октября 2016
                td.notmonth.weekend.future
                  a.after
                    | 5
                  .event
                    .date
                      | 5 октября 2016
                td.notmonth.weekend.future
                  a.after
                    | 6
                  .event
                    .date
                      | 6 октября 2016
          .legend
            span
            |  — дата занята
        .reserve
          .text
            | Выберите свободную дату
            br
            | и нажмите:
          a.button.disabled Забронировать
          form#new_reserve.new_reserve(accept-charset='UTF-8', action='#', data-remote='true', method='post')
            div(style='display:none')
              input(name='utf8', type='hidden', value='✓')
            input#reserve_who(name='reserve[who]', placeholder='Ваше имя', required='required', type='text')
            input#reserve_contacts(name='reserve[contacts]', placeholder='Как с вами связаться?', required='required', type='text')
            input#reserve_date(name='reserve[date]', type='hidden')
            input(name='commit', type='submit', value='Забронировать')
      .column-2
        a.button(href='/wedding#contacts')
          | Свяжитесь со мной 
          img(src='button-arrow.svg')
    section.contacts
      .overlay
      .logo
        img(src='https://pp.vk.me/c637219/v637219329/53b6/2IiBodF4d10.jpg')
      .text
        h1 Сергей Абрамов
        p.relevant Ваша свадьба с первого дубля
        .line
        p.im-ready Готов ответить на все ваши вопросы
        .get-ring
          p.ok Отправляю...
          form#new_ring_request.new_ring_request(accept-charset='UTF-8', action='http://www.kozlovdenis.ru/ring_requests', data-remote='true', method='post')
            div(style='display:none')
              input(name='utf8', type='hidden', value='✓')
            input#ring_request_name(name='ring_request[name]', placeholder='Имя', required='required', type='text')
            input#ring_request_phone(name='ring_request[phone]', placeholder='Ваш телефон', required='required', style='width:20vw', type='text')
            input(name='commit', type='submit', value='Ок')
        p.phone.show
          | +7 
          span (920)
          |  033-67-97
        .social
          a.vk(title='Паблик ВКонтакте', href='#', rel='nofollow', target='_blank')
            img(src='social/vk.svg')
          a.tw(title='Твиттер', href='#', rel='nofollow', target='_blank')
            img(src='social/tw.svg')
          a.insta(title='Фоточки в инстаграме', href='#', rel='nofollow', target='_blank')
            img(src='social/insta.svg')
          a.fb(title='Страничка на фэйсбуке', href='#', rel='nofollow', target='_blank')
            img(src='social/fb.svg')
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37565700 = new Ya.Metrika({ id:37565700, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/37565700', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
    //
      <p class="alert"></p>
