doctype html
html
  head
    meta(charset='UTF-8')
    title #{namedata.fullName} — Ведущий корпоративных мероприятий
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    script(data-turbolinks-track='false', src='/javascripts/application-79c480bc6b7214dbdc73ef400a1d885a.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,300italic,300,900&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic&subset=latin,cyrillic')
    link(rel='stylesheet', href='/assets/reset.css/reset.css')
    link(href='/assets/fotorama/fotorama.css', rel='stylesheet', media='all')
    link(href='/stylesheets/pages.css', rel='stylesheet', media='all')
    meta(content='authenticity_token', name='csrf-param')
    meta(content='N3xhSnDdeSDrr5OLCJ6cnGmXdkt30I5I++9wR/4IqBA=', name='csrf-token')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='format-detection', content='telephone=no')
  body
    .preloader
      .ring
    aside.hidden.hide-logo
      .blood-back
      a.logo
        img.ipad(src='https://pp.vk.me/c637219/v637219329/53b6/2IiBodF4d10.jpg')
        img.laptop(src='https://pp.vk.me/c637219/v637219329/53b6/2IiBodF4d10.jpg')
        .name Сергей
        .surname
          span Абрамов
          | Абрамов
      nav
        a.active(href='/wedding#about') Главная
        a.video(href='/wedding#video') Видео
        a(href='/wedding#photo') Обо мне
        a(href='/wedding#weddings') Свадьбы
        a(href='/wedding#reviews') Отзывы
        a(href='/wedding#calendar') Календарь
        a(href='/wedding#contacts') Контакты
      .line
    section.start
      .hint
        svg#arrow(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 612 792', enable-background='new 0 0 612 792', xml:space='preserve')
          path.arrow(fill='#FDFBE3', d='M556.5,399.2c0,0,14.7-24.2,16.8-27.1c1.8-2.4,1-4.5,1-4.5s-0.7-2.1-3.6-3c-3.5-1.1-29.9-11.3-29.9-11.3\
          s-6.1-2.3-8.5,3.3c-1.3,3.1-0.8,5.4,2.2,7.7s16,11.3,16,11.3s-4.8,15.1-5.8,18.8s0.1,5.8,2.9,7.4\
          C553.1,404.7,556.5,399.2,556.5,399.2z')
          circle.circle1(fill='#FDFBE3', cx='44.7', cy='397.8', r='4.9')
          circle.circle2(fill='#FDFBE3', cx='105.9', cy='411.3', r='6.1')
          circle.circle3(fill='#FDFBE3', cx='172.1', cy='419.9', r='8')
          circle.circle4(fill='#FDFBE3', cx='239.8', cy='422.9', r='9.2')
          circle.circle5(fill='#FDFBE3', cx='310.6', cy='419.9', r='11')
          circle.circle6(fill='#FDFBE3', cx='385.1', cy='412.5', r='12.2')
          circle.circle7(fill='#FDFBE3', cx='460.9', cy='400.9', r='15.3')
        svg#hand(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='246 -246.9 592.9 592.9', enable-background='new 246 -246.9 592.9 592.9', xml:space='preserve')
          g
            path.circle(fill='#FB5B40', d='M582.3-129.7c0-53.3-42.6-95.9-95.9-95.9s-95.9,42.6-95.9,95.9c0,23.4,8.5,44.8,21.3,59.7v-59.7\
            c0-40.5,34.1-74.6,74.6-74.6s74.6,34.1,74.6,74.6V-70C573.7-84.9,582.3-106.3,582.3-129.7z')
            path(fill='#FEFFE2', d='M715.7,20.9c-11.5,0-21,3.8-28.7,9.6l0,0c0-26.8-21-47.8-47.8-47.8c-11.5,0-23,3.8-32.5,11.5\
            c-7.6-19.1-24.9-30.6-44-30.6c-11.5,0-21,3.8-28.7,9.6v-95.6c0-26.8-21-47.8-47.8-47.8c-26.8,0-47.8,21-47.8,47.8V47.7\
            c-38.3-34.4-80.3-61.2-107.1-34.4C293,51.5,373.4,126.1,434.6,238.9C478.6,317.3,539.8,346,601,346c89.9,0,162.6-72.7,162.6-162.6\
            V68.7C763.5,41.9,742.5,20.9,715.7,20.9z M744.4,110.8v72.7c0,74.6-65,143.4-143.4,143.4c-72.7,0-114.8-40.2-149.2-95.6\
            C377.2,105,323.6,47.7,344.7,26.6c21-21,72.7,24.9,112.8,66.9v-216.1c0-15.3,13.4-28.7,28.7-28.7s28.7,13.4,28.7,28.7V78.2H534\
            V11.3c0-15.3,13.4-28.7,28.7-28.7c15.3,0,28.7,13.4,28.7,28.7v47.8h19.1V30.4c0-15.3,13.4-28.7,28.7-28.7\
            c15.3,0,28.7,13.4,28.7,28.7v47.8H687v-9.6c0-15.3,13.4-28.7,28.7-28.7c15.3,0,28.7,13.4,28.7,28.7L744.4,110.8L744.4,110.8z')
        a#start-now Сделать это!
      video#video-start.scaled(width='100%', height='auto', preload='auto', poster='/images/1+2.jpg')
        source(src='/videos/1+2.mp4', type='video/mp4')
        source(src='/videos/1+2.webm', type='video/webm')
        p Видео не поддерживается в вашем браузере.
      #slider
      svg#hint-ring-line(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 440 70', enable-background='new 0 0 440 70', xml:space='preserve')
        g
          circle(fill='#FDFAE3', cx='25', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='55', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='85', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='115', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='145', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='175', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='205', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='235', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='265', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='295', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='325', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='355', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='385', cy='35', r='3.1')
          circle(fill='#FDFAE3', cx='415', cy='35', r='3.1')
      #flying-text
      .frames
        img(src='/images/img/frames/frame1.jpg')
        img(src='/images/img/frames/frame2.jpg')
        img(src='/images/img/frames/frame3.jpg')
        img(src='/images/img/frames/frame4.jpg')
        img(src='/images/img/frames/frame5.jpg')
        img(src='/images/img/frames/frame6.jpg')
        img(src='/images/img/frames/frame7.jpg')
        img(src='/images/img/frames/frame8.jpg')
        img(src='/images/img/frames/frame9.jpg')
        img(src='/images/img/frames/frame10.jpg')
        img(src='/images/img/frames/frame11.jpg')
        img(src='/images/img/frames/frame12.jpg')
        img(src='/images/img/frames/frame13.jpg')
        img(src='/images/img/frames/frame14.jpg')
        img(src='/images/img/frames/frame15.jpg')
        img(src='/images/img/frames/frame16.jpg')
        img(src='/images/img/frames/frame17.jpg')
        img(src='/images/img/frames/frame18.jpg')
        img(src='/images/img/frames/frame19.jpg')
        img(src='/images/img/frames/frame20.jpg')
        img(src='/images/img/frames/frame21.jpg')
        img(src='/images/img/frames/frame22.jpg')
        img(src='/images/img/frames/frame23.jpg')
        img(src='/images/img/frames/frame24.jpg')
        img(src='/images/img/frames/frame25.jpg')
      video#video-finish(style='display:none;', width='100%', height='auto', preload='auto', poster='/images/3+4.jpg')
        source(src='/videos/3+4.mp4', type='video/mp4')
        source(src='/videos/3+4.webm', type='video/webm')
        p Видео не поддерживается в вашем браузере.
    section.first
      .overlay
      .now-me
      #logo
        img(src='https://pp.vk.me/c637219/v637219329/53b6/2IiBodF4d10.jpg')
      h1 Сергей Абрамов
      p.relevant Ваша свадьба с первого дубля
      a.down(href='/wedding#video')
        img(src='/images/img/down-circle.svg')
    section.video
      video#video(style='width:100%; height:auto;', preload='none', poster='https://pp.vk.me/c628526/v628526568/306e6/LqE_2JRZWTU.jpg')
        source#mp4(src='/videos/АБРАМОВ СЕРГЕЙ. Ведущий, вокалист, шоумен. 8 920 033 67 97.webm', type='video/webm')
        p Видео не поддерживается в вашем браузере.
      a.play
        img(src='/images/img/play.svg')
        .line1 Посмотрите,
        .line2 и все увидите сами.
      .get-video
        form#new_video_request.new_video_request(accept-charset='UTF-8', action='http://www.kozlovdenis.ru/video_requests', data-remote='true', method='post')
          div(style='display:none')
            input(name='utf8', type='hidden', value='✓')
          input#video_request_mail(name='video_request[mail]', placeholder='Ваш e-mail', required='required', type='email')
          input(name='commit', type='submit', value='Ок')
      a.close
        img(src='/images/close.svg')
        div Закрыть
      a.button(href='/wedding#photo')
        | Об опыте 
        img(src='/images/button-arrow.svg')
    section.photo
      .column-1
        .quote
          video#quote-video(style='width:100%; height:100%;')
            source#mp4(src='bg_lines.mp4', type='video/mp4')
            p Видео не поддерживается в вашем браузере.
          .line-1
          .line-2
          img.digit(src='/images/digit-one.svg')
          .mask
            .text
              | У вас есть
              br
              span только одна попытка
              br
              | сделать вашу свадьбу
              br
              | незабываемой.
        .about
          p
            | Любой  
            span текст
      .column-2
        #about-me-photos.fotorama(data-glimpse='0', data-height='100%', data-width='100%', data-maxwidth='100%', data-fit='cover', data-loop='true', data-autoplay='true', data-nav='false')
          each photo in wedding.aboutMePhotos
            img(src=photo)
        .grad
        .description
          .text
            | Я знаю, как сделать ваш дубль идеальным.
          a.button(href='/wedding#weddings')
            | Теперь про свадьбы 
            img(src='/images/button-arrow.svg')
    section.weddings
      .back(style="background:url('album/1/6.jpg') no-repeat center center; background-size:cover;")
      each slide in wedding.eventsItems
        if slide.active 
          .active-wedding 
            .title= slide.eventName
            a.get-photos(rel=slide.linkToOtherImgs)
              img(src='/images/photo.svg')
              span Фотоотчет
            .date= slide.date
            .desc= slide.description
            .people
              img(src='/images/people.svg')
              span #{slide.people} гостей
            .place 
              img(src='/images/map.svg')
              span= slide.place
            a.button(href='/wedding#reviews')
              | Более 150 отзывов
              img(src='/images/button-arrow.svg')
        .weddings
          each slide in wedding.eventsItems
              .slide
                img(alt=slide.id src=slide.titleImg)
                .info
                  .title= slide.eventName
                  .desc= slide.description
                  .date= slide.date
                  .place= slide.place
                  .people= slide.people
                  .id= slide.id
      //- .active-wedding
      //-   .title ДВА СЕРДЦА
      //-   a.get-photos(rel='1')
      //-     img(src='/images/photo.svg')
      //-     span Фотоотчет
      //-   .date 08 июля 2016
      //-   .desc Ваш комментарий
      //-   .people
      //-     img(src='/images/people.svg')
      //-     span 50 гостей
      //-   .place
      //-     img(src='/images/map.svg')
      //-     span Ресторан «Петровский»
      //-   a.button(href='/wedding#reviews')
      //-     | Более 150 отзывов 
      //-     img(src='/images/button-arrow.svg')
      //- .weddings
      //-   .slide
      //-     img(alt='Img 5927', src='album/1/6.jpg')
      //-     .info
      //-       .title ДВА СЕРДЦА
      //-       .desc Ваш комментарий
      //-       .date 08 июля 2016
      //-       .place Ресторан «Петровский»
      //-       .people 50
      //-       .id 1
      //-   .slide
      //-     img(alt='18 06 2016 0272 web', src='album/2/8.jpg')
      //-     .info
      //-       .title Свадьба в лагуне
      //-       .desc
      //-       .date 18 июня 2016
      //-       .place ГК Русская Охота
      //-       .people 45
      //-       .id 2
      //-   .slide
      //-     img(alt='1 024', src='album/3/2.jpg')
      //-     .info
      //-       .title Свадьба "Ретро"
      //-       .desc
      //-       .date 25 июня 2016
      //-       .place ГК Русская Охота
      //-       .people 30
      //-       .id 3
      //-   .slide
      //-     img(alt='Dsc 4223', src='album/4/1.jpg')
      //-     .info
      //-       .title "Гангстерский" корпоратив
      //-       .desc Ваш комментарий
      //-       .date 06 октября 2014
      //-       .place Турбаза «Верхний бор»
      //-       .people 45
      //-       .id 4
      //-   .slide
      //-     img(alt=' 1', src='album/5/1.jpg')
      //-     .info
      //-       .title ГОЛД ФИТНЕС
      //-       .desc Ваш комментарий
      //-       .date 11 октября 2014
      //-       .place Ресторан «Prohlada»
      //-       .people 60
      //-       .id 5
      a.more Еще фото...
    #show-album.hidden
      .handle
    #show-album-grad.hidden
      a.next
    #show-album-grad-prev.hidden
      a.prev
    a.close-album.hidden
      img(src='/images/close.svg')
      div Закрыть
    section.reviews
      .grad-left
      
      
      mixin reviewsSlider(slider)
        #photo-reviews.mask.dragdealer
          .handle(style='width: #{slider.width}vw')
            each column in slider.sliderData
              if column.prevYear
                .column 
                  .year-label.before= column.nextYear
                    .line 
                    .year-label.after= column.prevYear
                  each slide in column.slides 
                    if slide.empty
                      a.review(class='ind0' style='background:url("/images/missing.png") no-repeat center 30%; background-size: cover;')
                        .overlay
                    else
                      a.review(class='ind#{slide.id}' style='background:url("#{slide.previewImg}") no-repeat center 30%; background-size: cover;' href='/wedding/reviews/#{slide.id}' data-method='get' data-remote='true')
                        .overlay
              else 
                .column 
                  each slide in column.slides 
                    if slide.empty
                      a.review(class='ind0' style='background:url("/images/missing.png") no-repeat center 30%; background-size: cover;')
                        .overlay
                    else
                      a.review(class='ind#{slide.id}' style='background:url("#{slide.previewImg}") no-repeat center 30%; background-size: cover;' href='/wedding/reviews/#{slide.id}' data-method='get' data-remote='true')
                        .overlay
          
      +reviewsSlider(slider)
          
          
      .about(style='background:url(#{wedding.reviewsPhotoBlock.photoLink}); \
       background-repeat: #{wedding.reviewsPhotoBlock.imgSettings.backgroundRepeat}; \
       background-size: #{wedding.reviewsPhotoBlock.imgSettings.backgroundSize}; background-position: #{wedding.reviewsPhotoBlock.imgSettings.position}')
        p.text= wedding.reviewsPhotoBlock.text
        a.button(href='/wedding#calendar')
          | Свободные даты 
          img(src='/images/button-arrow.svg')
      //- .about
      //-   p.text
      //-     | Любой отзыв на этой странице искренний. Вы можете сами в этом убедиться, написав молодым ВКонтакте.
      //-   a.button(href='/wedding#calendar')
      //-     | Свободные даты 
      //-     img(src='/images/button-arrow.svg')
      #text-reviews.text-reviews.dragdealer
        .text-handle.handle(style='width: 400%')
          each review in wedding.clientsTextReviews
            .review(style='width: 25%')
              .head 
                .author
                  img(alt='author' src='#{review.img}')
                  a(href='#{review.authorLink}', rel='nofollow', target='_blank')= review.clientName
                .wedding 
                  img(src='/images/rings.svg')
                  span= review.eventName
              a.text(href='flkjdsjflsdjafljasdljfsdkjafdkljsljljjfdslaj', data-method='get', data-remote='true')= review.text
          //- .review(style='width: 25.0%')
          //-   .head
          //-     .author
          //-       img(alt='Cddssuuvjww', src='http://cs623429.vk.me/v623429218/3e18f/cDdssUUVJWw.jpg')
          //-       a(href='https://vk.com/prazdniknnpro', rel='nofollow', target='_blank') Алина
          //-     .wedding
          //-       img(src='reviews/rings.svg')
          //-       span Свадьба Алина & Антон
            // <a href="/review/118" data-method="get" data-remote="true" href="/pages/calendar?month=2016-03-01" rel="nofollow"><img src="/calendar/right.svg"></a>
            //- a.text(href='http://www.kozlovdenis.ru/review/118', data-method='get', data-remote='true')
              //- | вправо следующий отзыв
          //- .review(style='width: 25.0%')
          //-   .head
          //-     .author
          //-       img(alt='C1ktzvwotlq', src='http://cs637827.vk.me/v637827407/15963/c1KTZVWOtLQ.jpg')
          //-       a(href='https://vk.com/prazdniknnpro', rel='nofollow', target='_blank') Алиса
          //-     .wedding
          //-       img(src='reviews/rings.svg')
          //-       span Свадьба Алиса & Сергей
            // <a href="/review/119" data-method="get" data-remote="true" href="/pages/calendar?month=2016-03-01" rel="nofollow"><img src="/calendar/right.svg"></a>
          //-   a.text(href='http://www.kozlovdenis.ru/review/119', data-method='get', data-remote='true')
          //-     | вправо следующий отзыв
          //- .review(style='width: 25.0%')
          //-   .head
          //-     .author
          //-       img(alt='Bnxxftsvy6k', src='http://cs622126.vk.me/v622126312/4e2c7/bnXXftSvY6k.jpg')
          //-       a(href='https://vk.com/prazdniknnpro', rel='nofollow', target='_blank') Иван
          //-     .wedding
          //-       img(src='reviews/rings.svg')
          //-       span Свадьба Иван & Дарья
          //-   // <a href="/review/120" data-method="get" data-remote="true" href="/pages/calendar?month=2016-03-01" rel="nofollow"><img src="/calendar/right.svg"></a>
          //-   a.text(href='http://www.kozlovdenis.ru/review/120', data-method='get', data-remote='true')
          //-     | вправо следующий отзыв
          .review(style='width: 25.0%')
            .head
              p.more И более 100 отзывов в моей группе ВК
            a.show(href='#{vkGroup}', target='_blank') Смотреть
        .dots
          .dot.active
          .dot
          .dot
          .dot
      a.add(href='#{vkGroup}', target='_blank', rel='nofollow')
        p
          | Оставить отзыв ВК
          span онтакте
    #show-review.hidden
      .handle
    a.close-review.hidden
      img(src='/images/close.svg')
    
    section.calendar
      .column-1
        mixin calendar(calendar)
          #calendar.animated
            .month
              -var nextLink = '/calendar?month='+calendar.prevMonth
              a(data-method='post', 
                data-remote='true', 
                href=nextLink, 
                rel='nofollow')
                img(src='/calendar/left.svg')
              span= calendar.calendarHead
              -var prevLink = '/calendar?month='+calendar.nextMonth
              a(data-method='post', 
                data-remote='true', 
                href=prevLink,
                rel='nofollow')
                img(src='/calendar/right.svg')
            table
              tbody
                tbody
                  each week in calendar.calendarData.weeks 
                    tr
                      each day in week.days 
                        -var tdNotMonth = day.isThisMonth? '' : 'notmonth';
                        -var tdWeekend = day.isWeekend? 'weekend' : '';
                        -var tdFuture = day.isFuture? 'future' : '';
                        -var tdToday = day.isToday? 'today' : '';
                        -var tdClass = [tdNotMonth, tdWeekend, tdFuture, tdToday]
                        td(class=tdClass)
                          - var reserved = day.reserved;
                          - var isFuture = day.isFuture? 'after' : ' ';
                          - var linkClass = [reserved, isFuture]
                          a(class=linkClass)= day.dateNum
                          .event 
                            .date= day.date
                            if day.isEventToday
                              .name= day.isEventToday.eventName
                              .type= day.isEventToday.eventType
                          
            .legend
              span 
              | — дата занята
              
        +calendar(calendar)
        
        .reserve
          .text
            | Выберите свободную дату
            br
            | и нажмите:
          a.button.disabled Забронировать
          form#new_reserve.new_reserve(accept-charset='UTF-8', action='#', data-remote='true', method='post')
            div(style='display:none')
              input(name='utf8', type='hidden', value='✓')
            input#reserve_who(name='reserve[who]', placeholder='Ваше имя', required='required', type='text')
            input#reserve_contacts(name='reserve[contacts]', placeholder='Как с вами связаться?', required='required', type='text')
            input#reserve_date(name='reserve[date]', type='hidden')
            input(name='commit', type='submit', value='Забронировать')
      .column-2
        a.button(href='/wedding#contacts')
          | Свяжитесь со мной 
          img(src='/images/button-arrow.svg')
    section.contacts
      .overlay
      .logo
        img(src='https://pp.vk.me/c637219/v637219329/53b6/2IiBodF4d10.jpg')
      .text
        h1= namedata.fullName
        p.relevant= mainInfo.since
        .line
        p.im-ready Готов ответить на все ваши вопросы
        .get-ring
          p.ok Отправляю...
          form#new_ring_request.new_ring_request(accept-charset='UTF-8', action='http://www.kozlovdenis.ru/ring_requests', data-remote='true', method='post')
            div(style='display:none')
              input(name='utf8', type='hidden', value='✓')
            input#ring_request_name(name='ring_request[name]', placeholder='Имя', required='required', type='text')
            input#ring_request_phone(name='ring_request[phone]', placeholder='Ваш телефон', required='required', style='width:20vw', type='text')
            input(name='commit', type='submit', value='Ок')
        p.phone.show
          | #{phone.code}
          span= phone.operator
          |  #{phone.rest}
        .social
          each button in socialButtons
            a(class=button.class title=button.title href=button.link target='_blank')
              img(src=button.img)
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37565700 = new Ya.Metrika({ id:37565700, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/37565700', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
    //
      <p class="alert"></p>
